.main-div{

    background-image: url(../images/cover.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 100px;
   padding: 100px 60px;
   box-sizing: border-box;

}
@media screen and (max-width: 1010px) {
    .main-div {
        flex-direction: column;
        height: fit-content;
        padding: 100px 20px;

    }
}
 
.main-div > .game-info{
background-color: #000000;
height: 630px;
width: 32vw;
min-width: 28vw;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 50px;
gap: 13.34px;
background: #FF8577;
border: 5.33788px solid #000000;
box-shadow: 10.6758px 10.6758px 0px #000000, 0px 5.33788px 5.33788px rgba(0, 0, 0, 0.25);
border-radius: 32.0273px 32.0273px 0 0;  /* Top-left: 10px, Top-right: 10px, Bottom-right: 0, Bottom-left: 0 */
position: relative;
}
@media (max-width: 1010px) {
    .main-div > .game-info {
        height: 200px; /* Reduce height as needed */
        width: 60%; /* Set a percentage width or specific pixel value */
        padding: 40px 30px; /* Reduce padding */
        border-radius: 32.0273px 32.0273px 32.0273px 32.0273px;  /* Top-left: 10px, Top-right: 10px, Bottom-right: 0, Bottom-left: 0 */
        align-items: center;
    }
    .main-div{
       gap: 60px;
    }
}
.game-info > .heading{
position: absolute;
top: -40px;  /* Position slightly above the top border */
left: 50%;  /* Center horizontally */
transform: translateX(-50%);  /* Adjust for perfect centering */
display: flex;
justify-content: center;
align-items: center;
padding: 20px 60px;
min-width: 180px;
background: #FFFFFF;
border: 5.33788px solid #000000;
border-radius: 74.7304px;
}
.heading > p{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32.0273px;
line-height: 39px;
color: #000000;

}
.figyah{
    height: 100px;
}
.game-info> h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42.7031px;
    line-height: 52px;
    /* identical to box height */
    margin-top: 20px;
    color: #000000;
    
    }
.inner-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 28px 0px;
    border-bottom: 5px solid #000000;
    justify-content: space-evenly;
}

.play-now-button{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
padding: 2px 30px;
line-height: 52px;
color: #000000;
position: absolute;
bottom: 180px;
right: 300px;
border: 5.33788px solid #000000;
box-shadow: 10.6758px 10.6758px 0px #000000, 0px 5.33788px 5.33788px rgba(0, 0, 0, 0.25);
border-radius: 8px;  /* Top-left: 10px, Top-right: 10px, Bottom-right: 0, Bottom-left: 0 */
}
.cursor{
    position: absolute;
    bottom: 158px;
    right: 300px;
    height: 40px;
}

@media (max-width: 1010px) {
    .inner-heading{
        width: 100%; /* Set a percentage width or specific pixel value */
    }
    .inner-heading > .lines{
        width: 20%;
    }
    .inner-heading > .figyah{
        width: 40%;
    }
    .heading > p{
        font-size: 24px;
    }
    .game-info > .heading{
        padding: 10px 40px;
    }
    .game-info> h3 {
        font-size:28px;
        margin-top: 0px;
        padding-bottom: 20px;
    }
    .dice1{
        display: none;
        height: 0px;
    }
   

}
.dices{
max-width: 16vw;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
padding-top: 20px;
}
.dice1{
    width: 100%;
    min-width: 32vw;
}
@media (max-width: 973px) { /* Adjust the width as needed */
    .play-now-button{
    position: absolute;
    bottom: 40px;
    right: 35%;
    }
    .cursor{
        position: absolute;
        bottom: 20px;
    }
}
.play-now-button {
    transition: transform 0.3s ease; /* Smooth transition */
}

.play-now-button.hovered {
    transform: translateY(-5px); /* Move the button up by 5 pixels */
}
.title > h1 {
    max-width: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2vw; /* Flexible font size */
    line-height: 90px;
    line-height: 4.2vw;
    display: flex;
    align-items: center;
    color: #000000;
    width: 540px;
}
@media (max-width: 973px) { /* Adjust the width as needed */
    .title > h1 {
        font-size: 5vw; /* Flexible font size */
        line-height: 50px;
        width: 430px;
        text-align: center;
        padding-bottom: 40px;

    }
}
